.category-card{
width:180px;
background:#fff;
border-radius:18px;
padding:25px;
text-align:center;
cursor:pointer;
transition:.3s;
box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.category-card:hover{
transform:translateY(-8px);
}

.category-card img{
width:90px;
height:90px;
object-fit:contain;
margin:auto;
}

.category-card h3{
margin-top:15px;
font-size:20px;
color:#333;
}